PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=cdc_source
PG_USER=replicator
PG_PASSWORD=changeme
PG_SLOT_NAME=cdc_slot
PG_PUBLICATION=cdc_pub

MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=cdc_sink

POLL_INTERVAL=1.0
LOG_LEVEL=INFO
